*.log
.DS_Store
.env
.env.*
!.env.example
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db

# Project-specific
/_bootstrap
/tmp_laravel
/database/*.sqlite
/database/*.sqlite-journal
/.claude
